<!-- templates/privacidad/privacidad.html -->
{% extends 'base.html' %}

{% block title %}Política de Privacidad{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Política de Privacidad</h1>
        <p>En Cocina Nova, valoramos tu privacidad y nos comprometemos a proteger tus datos personales. Esta política de privacidad explica cómo recopilamos, usamos y protegemos tu información.</p>

        <h3>1. Información que Recopilamos</h3>
        <p>Recopilamos información personal que nos proporcionas al registrarte en nuestra plataforma o al realizar un pedido, incluyendo tu nombre, dirección de correo electrónico y detalles de pago.</p>

        <h3>2. Uso de la Información</h3>
        <p>Usamos tu información para procesar pedidos, mejorar nuestra plataforma y ofrecerte una experiencia personalizada. Nunca compartimos tu información con terceros sin tu consentimiento explícito.</p>

        <h3>3. Seguridad</h3>
        <p>Implementamos medidas de seguridad para proteger tus datos, pero no podemos garantizar su seguridad al 100%. Te recomendamos que uses contraseñas seguras y no compartas tus credenciales con otras personas.</p>

        <h3>4. Cambios en la Política de Privacidad</h3>
        <p>Nos reservamos el derecho de actualizar nuestra política de privacidad en cualquier momento. Te notificaremos sobre los cambios significativos a través de nuestro sitio web.</p>
        
        <p>Última actualización: Diciembre 2024</p>
    </div>
{% endblock %}
