<div class="container mt-5">
    <h2 class="text-center">Lista de Productos</h2>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categoría</th>
          <th>Imagen</th>
          <th>Descripción</th>
          <th>Stock</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td>{{ producto.nombre_producto }}</td>
            <td>${{ producto.precio }}</td>
            <td>{{ producto.categoria.nombre }}</td>
            <td>
              {% if producto.imagen %}
                <img
                  src="{{ url_for('static', filename='images/' + producto.imagen) }}"
                  alt="{{ producto.nombre_producto }}"
                  class="img-thumbnail"
                  width="100"
                />
              {% else %}
                <span>No disponible</span>
              {% endif %}
            </td>
            <td>{{ producto.descripcion[:50] }}...</td>
            <td>{{ producto.stock }}</td>
            <td>
              <a href="{{ url_for('editar_producto', id=producto.id_producto) }}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{{ url_for('eliminar_producto', id=producto.id_producto) }}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  