{% extends 'base.html' %}

{% block title %}Editar Categoría - Cocina Nova{% endblock %}

{% block content %}
    <h2>Editar Categoría</h2>
    <form method="POST" action="{{ url_for('categoria_bp.actualizar_categoria', id_categoria=categoria[0]) }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="nombre_categoria" class="form-label">Nombre de la Categoría</label>
            <input type="text" class="form-control" id="nombre_categoria" name="nombre_categoria" value="{{ categoria[1] }}" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" name="descripcion" required>{{ categoria[2] }}</textarea>
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="imagen" name="imagen">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Categoría</button>
        <a href="{{ url_for('categoria_bp.obtener_todas_las_categorias') }}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
