{% extends 'base.html' %}

{% block title %}Lista de Categorías - Cocina Nova{% endblock %}

{% block content %}
    <h2>Lista de Categorías</h2>
    <div class="mb-4">
        <a href="{{ url_for('categoria_bp.crear_categoria') }}" class="btn btn-success">Añadir Nueva Categoría</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria[0] }}</td>
                    <td>{{ categoria[1] }}</td>
                    <td>{{ categoria[2] }}</td>
                    <td>
                        <a href="{{ url_for('categoria_bp.detalle_categoria', id_categoria=categoria[0]) }}" class="btn btn-info">Ver</a>
                        <a href="{{ url_for('categoria_bp.editar_categoria', id_categoria=categoria[0]) }}" class="btn btn-warning">Editar</a>
                        <a href="{{ url_for('categoria_bp.eliminar_categoria', id_categoria=categoria[0]) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
