{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Restablecer Contraseña</h2>
    <form action="{{ url_for('auth_routes.reset_password') }}" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" name="email" class="form-control" id="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar enlace para restablecer</button>
    </form>
</div>
{% endblock %}
