<!-- templates/shared/footer.html -->
<footer class="bg-light py-3 mt-5">
    <div class="container text-center">
        <p>&copy; 2024 Cocina Nova. Todos los derechos reservados.</p>
        <ul class="list-unstyled">
            <li><a href="{{ url_for('routes.privacidad') }}" class="nav-link d-inline">Política de privacidad</a></li>
            <li><a href="{{ url_for('routes.terminos') }}" class="nav-link d-inline">Términos y condiciones</a></li>                       
        </ul>
    </div>
</footer>
