<!-- sidebar.html (izquierda) -->
{% block content %}

    <nav class="nav flex-column">
        <ul>
            <!-- Ruta ajustada para la lista de productos -->
            <li><a href="{{ url_for('routes.cliente_lista_productos') }}" class="nav-link">Productos</a></li>

            <!-- Ruta ajustada para la lista de categorías -->
            <li><a href="{{ url_for('categoria_bp.cliente_lista_categorias') }}" class="nav-link">Categorías</a></li>

            <!-- Ruta ajustada para la lista de mis pedidos -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('routes.cliente_pedidos') }}">Mis Pedidos</a></li>
                                    
            <!-- Ruta ajustada para la lista de contacto y servicios -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('routes.servicio') }}">Servicios</a></li>
            <li><a href="{{ url_for('routes.contacto') }}" class="nav-link">Contacto</a></li>
            
        </ul>
    </nav>

{% endblock %}
